footer {
	background-color: #222222;
	color: #535353;
	padding: 18px 0 18px 0;
	width: 100%;
	.social {
	    i {
			font-size: 25px;
		    padding: 0 5px;
			margin: 0 auto;
		}
	}
	a {
		color: #A2A2A2;
		&:hover {
			color: #848484;
		}
	}
	.facebook{
		iframe{
			width: 100%;
		}
	}
}



@media only screen and (min-width: 768px) {

	footer {
		.facebook{
			iframe{
				width: 70%;
			}
		}
	}

}