/* Global */
 
.works{
	background-image: url(../img/laptop.jpg);
	background-attachment: fixed;
	background-position: center center;
    background-repeat: no-repeat;

    .title{
    	color: #ffffff;
    	margin-bottom: 18px;
    }
}

.thumbnail {
	background-color: rgba(0, 0, 0, 0.5);
	border-color: rgba(0, 0, 0, 0.5);
	border-radius: 0;
	margin-bottom: 0;
}

img { max-width:100%; }

.thumbnail a > img, .thumbnail > img {
    width: 100%;
}

a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    



.thumbnails li> .fff .caption { 
    background:rgba(0, 0, 0, 0.7) !important; 
    padding:10px;
    text-align:center;
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
    
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails { 
    margin-bottom: 0px;
   	list-style-type:none;
}



/* Thumbnail Box */
.caption h4 {
    color: #ffffff;
    font-weight: bolder;
    font-size: 2em;
}

.caption p {  
    color: #ffffff;
}

.caption a {
	background-color: $main-orange;
	border-color: $dark-orange;
	color: #fff;
	font-weight: bolder;
	&:hover{
		background-color: $dark-orange;
		opacity: 1;
	}
}


/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
	.thumbnail {
		margin-bottom: 0;
	}
    .caption {
        word-break: break-all;
    }
    ul.thumbnails { 
	    margin-left: -40px;
	}
}


li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }
