@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

p{
	font-size: 1em;
}

$main-blue: #5f8dd3;
$dark-blue: #2c3e50;
$main-orange: #e67e22;
$dark-orange: #d67118;


@import "header";

.title{
	h2 {
		font-size: 3em;
		margin-bottom: 18px;
	}
	span {
		color: $main-orange;
		font-size: 0.5em;
	}
}

.welcome-screen{
	background-color: #000000;
	background-image: url('../img/notebook1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    border-bottom: solid 4px $dark-orange;
    height: auto;
    
	.text-welcome{
		margin-top: 50px;	
		padding: 100px 0;
		h1,h3{
			color: #ffffff;	
			margin-bottom: 0px;
		}
		p {
			margin-top: 36px;
			a {
				background-color: $main-orange;
				border-color: $dark-orange;
				color: #fff;
				font-weight: bolder;
				&:hover{
					background-color: $dark-orange;
					opacity: 1;
				}
			}
		}
	}
}

.about{
	margin: 36px 0;
	.about-title{
		h2 {
			font-size: 3em;
		}
		span {
			color: $main-orange;
			font-size: 0.5em;

		}
	}
	img {
		margin-top: 30px;
		width: 500px;
	}
}

.what-do {
	background-color: $dark-blue;
	border-bottom: solid 5px $main-blue;
	border-top: solid 5px $main-blue;
	color: #ffffff;
	margin: 36px 0 0 0;
	padding: 42px 0 0 0;

	h2 {
		margin-bottom: 36px; 
	}

	.what-do-section{
		margin-bottom: 36px;
		img {
			margin-left: 50%;
			transform: translateX(-50%);
			width: 250px;
		}
		p {
			margin: 18px 0;
			text-align: center;
		}
	}
}

@import "works";

.team {
	margin: 36px 0;
	.colaboradores{
		.thumbnail {
		    height: 550px;
		}
	}
}

.section-contact{
	background-image: url(../img/map-contact1.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-top: solid 5px $main-orange;
	
	h2, p, label {
		color: #ffffff;
	}

	.contact{
		margin: 18px 0;
	}
	.form-control {
		background-color: rgba(255, 255, 255, 0.25);
		color: #ffffff;
		font-weight: bolder;	    
	}
	.btn-block {
	    float: right;
	    width: 50%;
	}
}


@import "footer";

@import "cv";



/* Layout para desktops: 769 px ate o maximo de 1232 px. Herda estilos de: Layout para celulares e Layout para tablets. */
@media only screen and (min-width: 768px) {
    .welcome-screen{
    	background-color: black;
    	height: 800px;
    	h1{
			font-size: 6em; 
		}
		h3{
			font-size: 3em;
		}
    	.text-welcome{
			margin-top: 25%;	
			transform: translateY(-50%);
			p {
				a {
					font-size: 2em;
				}
			}
    	}
    }
}


@media only screen and (min-width: 1200px) {

}
