<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 footer">
                <h1>Sim Network</h1>
                <p>Sim network é uma empresa responsável por transformar seu sonho em realidade!</p>
            </div>
            <div class="col-xs-12 col-md-6 facebook">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FIniciativaSimNetwork%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="200" style="border:none;overflow:hidden; float:right;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
</footer>