<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 footer">
                <h1>Sim Network</h1>
                <p>Sim network é uma empresa responsável por transformar seu sonho em realidade!</p>
            </div>
            <div class="col-xs-12 col-md-6 facebook">
            <iframe width="500" height="170" style="width: 300px; height: 170px;" scrolling="no" allowtransparency="true" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FIniciativaSimNetwork%2F&amp;tabs=&amp;locale=en_US&amp;small_header=true&amp;hide_cover=false&amp;show_facepile=true&amp;tabs=&amp;width=500&amp;height=170" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</footer>