<div ng-repeat="colaborador in colaboradores">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 header-cv">
                <h1>{{colaborador.nome}}</h1>
                <h4>{{colaborador.funcao}}</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 photo-section photo-xs hidden-md hidden-lg">
        <div class=" pic-photo-section">
            <p><img src="img/colaboradores/{{colaborador.foto}}.jpg" class="text-center img-circle"  alt="" width="100"></p>

            <p>{{colaborador.descricaoPerfil}} </p>
        </div>
    </div>
    <div class="container">
        <div class="row about-cv">
            <div class="col-xs-12 col-md-3">
                <h2 class="title-cv">Sobre mim </h2>
                <div class="col-xs-6 main-title-cv">
                    <p>Aniversário</p>
                    <p>Facebook</p>
                    <p>Telefone</p>
                    <p>E-mail</p>
                </div>
                <div class="col-xs-6 info-member">
                    <p>{{colaborador.aniversario}}</p>
                    <p>{{colaborador.facebook}}</p>
                    <p>{{colaborador.telefone}}</p>
                    <p>{{colaborador.email}}</p>
                </div>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-8 photo-section hidden-xs">
                <div class="col-xs-2 pic-photo-section">
                    <img src="img/colaboradores/{{colaborador.foto}}.jpg" alt="" width="100">
                </div>
                <div class="col-xs-12 col-md-10">
                    <p>{{colaborador.descricaoPerfil}} </p>
                </div>
            </div>
        </div>
        <div class="row about-cv">
            <div class="col-xs-12 col-md-3">
                <h2 class="title-cv">Habilidades </h2>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-8 photo-section hidden-xs"></div>
            <div class="col-xs-12">
                <div class="col-xs-6 col-sm-3">
                    <div class="inner-content text-center">
                        <div class="c100 p{{colaborador.porcentagem1}} blue center">
                            <span>{{colaborador.porcentagem1}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <p><strong>{{colaborador.competencia1}}</strong></p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="inner-content text-center">
                        <div class="c100 p{{colaborador.porcentagem2}} blue center">
                            <span>{{colaborador.porcentagem2}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <p><strong>{{colaborador.competencia2}}</strong></p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="inner-content text-center">
                        <div class="c100 p{{colaborador.porcentagem3}} blue center">
                            <span>{{colaborador.porcentagem3}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <p><strong>{{colaborador.competencia3}}</strong></p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="inner-content text-center">
                        <div class="c100 p{{colaborador.porcentagem4}} blue center">
                            <span>{{colaborador.porcentagem4}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <p><strong>{{colaborador.competencia4}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid experience-cv">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <h2 class="title-cv text-center">Experiência</h2>
                </div>
                <div class="col-xs-9 line-cv hidden-xs hidden-md">
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 experience-all">
                    <h4>{{colaborador.experiencia1}} - <span class="period-job">{{colaborador.ano1}}</span></h4>
                </div>
                <div class="col-xs-12">
                    <p>{{colaborador.descricao1}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 experience-all">
                    <h4>{{colaborador.experiencia2}} - <span class="period-job">{{colaborador.ano2}}</span></h4>
                </div>
                <div class="col-xs-12">
                    <p>{{colaborador.descricao2}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <h2 class="title-cv text-center">Escolaridade</h2>
                </div>
                <div class="col-xs-9 line-cv hidden-xs hidden-md">
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 experience-all">
                    <h4>{{colaborador.escolaridade1}} - <span class="period-job">{{colaborador.ano3}}</span></h4>
                </div>
                <div class="col-xs-12">
                    <p>{{colaborador.escolaDescricao}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 experience-all">
                    <h4>{{colaborador.escoladirade2}} - <span class="period-job">{{colaborador.ano4}}</span></h4>
                </div>
                <div class="col-xs-12">
                    <p>{{colaborador.escolaDescricao2}} </p>
                </div>
            </div>
        </div>
    </div>
</div>