<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Termos de Parceria da Iniciativa Sim Network</h1>

      <h2>Versão: 4.0</h2>
      <h2>Data de criação: 23/04/2017</h2>
      <div class="terms" ng-repeat="termo in termos">
        <h3>{{termo.sort}} - {{termo.title}}</h3>

        <div class="terms-content" ng-repeat="conteudo in termo.content">
          <ol>
            <li>{{conteudo}}</li>
          </ol>
        </div>
      </div>




    </div>
  </div>
</div>